﻿<%@ Page Title="refund-policy" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true"
    CodeBehind="refund-policy.aspx.cs" Inherits="Olympiad.refund_policy" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="container">
        <div class="col-sm-12 col-xs-12">
            <h2 class="text-center">
                Refund Policy
            </h2>
        </div>
        <div class="col-sm-12 col-md-12 col-xs-12">
        </div>
    </div>
</asp:Content>
