﻿<%@ Page Title="Terms-Condition" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true"
    CodeBehind="Terms-Condition.aspx.cs" Inherits="Olympiad.Terms_Condition" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="container">
        <div class="col-sm-12 col-xs-12">
            <h2 class="text-center">
                Terms & Condition
            </h2>
        </div>
        <div class="col-sm-12 col-md-12 col-xs-12">
        </div>
    </div>
</asp:Content>
