﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
.col-12-xxxl, .col-11-xxxl, .col-10-xxxl, .col-9-xxxl, .col-8-xxxl, .col-7-xxxl, .col-6-xxxl, .col-5-xxxl, .col-4-xxxl, .col-3-xxxl, .col-2-xxxl, .col-1-xxxl {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.dashboard-summery-one {
    margin-bottom: 30px;
    background-color: #ffffff;
    padding: 22px 28px;
    border-radius: 4px;
    box-shadow: 0px 10px 20px 0px rgba(229, 229, 229, 0.75);
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.item-icon {
    position: relative;
    height: 85px;
    width: 85px;
    line-height: 85px;
    border-radius: 50%;
    text-align: center;
}

.bg-light-magenta {
    background-color: #f3e5f5;
}

.item-content {
    text-align: right;
}

.item-title {
    color: #a8a8a8;
    margin-bottom: 2px;
}

.item-number {
    font-size: 20px;
    font-weight: 500;
    color: #111111;
}

.card {
    padding-bottom: 30px;
    border: none;
    height: 100%;
    background-color: initial;
}

.card-body {
    padding: 15px 30px 30px;
    background-color: #ffffff;
    border-radius: 4px;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(229, 229, 229, 0.75);
    box-shadow: 0px 10px 20px 0px rgba(229, 229, 229, 0.75);
}

.heading-layout1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: none;
    margin-bottom: 12px;
}

.dropdown-toggle {
    color: #bcbcbc;
    font-size: 36px;
    display: inline-block;
    line-height: 1;
    padding-bottom: 15px;
    position: relative;
    right: -10px;
}

.dropdown-item {
    font-size: 15px;
    padding: 7px 20px;
}

.fw-btn-fill {
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 44px;
    width: 100%;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 1px;
    padding: 10px;
    cursor: pointer;
    z-index: 9;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.btn-gradient-yellow {
    background-color: #ffae01;
}

.row.gutters-8 {
    padding-left: 11px;
    padding-right: 11px;
}
.bg-ash {
    background-color: #f0f1f3 !important;
}
.bg-light {
    background-color: #ffffff !important;
}
.header-menu-one {
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
}
.nav-bar-header-one {
    background: linear-gradient(to right, #ff9d01, #ffaa01);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 26rem;
    margin-top: -5px;
    margin-bottom: -5px;
    margin-left: -1rem;
}
.header-logo {
    padding-left: 10px;
}