﻿/* File Created: January 2, 2020 */
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Nanum+Gothic);
body
{
    background-color: #f9f9f9;
    font-family: 'Roboto';
}
a:hover
{
    cursor: pointer;
}
@media only screen and (min-width: 1200px)
{
    .container
    {
        width: calc(100% - 50px);
    }
}
.Header
{
    display: inline-block;
    width: 100%;
}
.Layer1
{
    display: inline-block;
    width: 100%;
    padding: 5px;
    background-color: #d4d4d4;
}

.Layer1 .Header_social_Links
{
    display: inline-block;
    float: left;
    color: #1d0f59;
    padding: 5px;
    text-decoration: none;
}

.Layer1 .Header_social_Links i
{
    color: #fff;
    width: 30px;
    height: 30px;
    padding: 7px;
    text-align: center;
    background: orange;
    border-radius: 50%;
}
.Registration
{
    text-decoration: none;
    position: relative;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    padding: 2px 35px;
    min-width: 86px;
    text-align: center;
    line-height: 29px;
    color: #fff;
    border-radius: 30px;
    z-index: 1;
    -webkit-transition: color .2s ease-out,background-color .2s ease-out,border-color .2s ease-out;
    -moz-transition: color .2s ease-out,background-color .2s ease-out,border-color .2s ease-out;
    transition: color .2s ease-out,background-color .2s ease-out,border-color .2s ease-out;
    color: #fff;
    background: #ff9800;
}

.Layer1 .SignUp, .Layer1 .SignIn
{
    text-decoration: none;
    position: relative;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    padding: 2px 35px;
    min-width: 86px;
    text-align: center;
    line-height: 29px;
    color: #fff;
    text-transform: uppercase !important;
    border-radius: 30px;
    z-index: 1;
    -webkit-transition: color .2s ease-out,background-color .2s ease-out,border-color .2s ease-out;
    -moz-transition: color .2s ease-out,background-color .2s ease-out,border-color .2s ease-out;
    transition: color .2s ease-out,background-color .2s ease-out,border-color .2s ease-out;
    color: #fff;
}
.Layer1 .SignUp
{
    background-color: #7e007b;
}
.Layer1 .SignIn
{
    background-color: #04d2c8;
}
.Layer1 .SignUp:hover, .Layer1 .SignIn:hover
{
    text-decoration: none;
}
.layer2
{
    display: inline-block;
    padding: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    width: 100%;
}

.Logo
{
    display: inline-block;
    width: 100%;
}
.Logo > a > img
{
    max-width: 100%;
    height: auto;
    width: auto;
}

.deaMLogo
{
    width: 100%;
    display: inline-block;
    text-align: center;
}
.deaMLogo img
{
    height: 75px;
    margin-top: 15px;
}
.header_desc
{
    height: auto;
    display: inline-block;
    text-align: right;
    width: 100%;
    padding-top: 30px;
}

.header_desc > p
{
    display: inline-block;
    padding: 13px;
    background-color: #FF5722;
    box-shadow: 3px 4px 0px #7e007b;
    border-radius: 20px;
    color: #fff;
    font-size: 18px;
    transition: 0.5s;
}
.header_desc > p:hover
{
    background-color: #7e007b;
    box-shadow: 3px 4px 0px #ffa500;
}

.menubar
{
    display: inline-block;
    width: 100%;
    display: inline-block;
}

nav
{
    margin-top: 20px;
    padding: 24px 0px;
    text-align: center;
    font-family: Raleway;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
#nav-1
{
    background: #263d59;
}
.link-1
{
    font-family: 'Roboto';
    transition: 0.3s ease;
    background: #263d59;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    border-top: 4px solid #263d59;
    border-bottom: 4px solid #263d59;
    padding: 0px 10px;
    text-transform: capitalize;
}
.link-1:hover, .link-1:active, .link-1:focus
{
    border-top: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    padding: 6px 10px;
    text-decoration: none;
    color: #fff;
}
.Header_mobile, .closebtn
{
    display: none;
}
@media only screen and (max-width: 600px)
{
    .Layer1 .Header_social_Links
    {
        font-size: 12px;
    }
    .menubar
    {
        display: none;
    }
    .Header_mobile
    {
        width: 100%;
        margin-top: 10px;
        display: inline-block;
        padding: 5px;
        background-color: #263d59;
    }
    .Header_mobile .togglebtn
    {
        font-size: 20px;
        color: #fff;
    }
    .menubar
    {
        width: 80%;
        padding: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        position: fixed;
        z-index: 999;
        height: 100%;
        background-color: #263d59;
    }
    .menubar nav
    {
        width: 100%;
        margin-top: 0px;
        padding: 10px;
        text-align: center;
        font-family: Raleway;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    }
    .menubar nav .link-1
    {
        width: 100%;
        display: inline-block;
        text-align: left;
        padding: 10px;
        margin: 0px;
        border-bottom: 1px solid #757b82;
        font-size: 15px;
    }
    .closebtn
    {
        position: fixed;
        font-size: 25px;
        text-transform: uppercase;
        left: 0px;
        z-index: 999;
        height: 100%;
        width: 0px;
        top: 0px;
        display: inline-block;
        padding: 0;
        background-color: #f9f9f9;
    }
}
.Slider
{
    display: inline-block;
    width: 100%;
}
.Slider img
{
    width: 100%;
    display: inline-block;
}
.Div_how_toReach
{
    display: inline-block;
    width: 100%;
    display: inline-block;
    min-height: 400px;
    padding: 50px 0px;
}

.Div_ExamPattren
{
    width: 100%;
    display: inline-block;
    background-color: #f1f1f1;
    padding: 50px 0px;
}
.widget1
{
    width: 100%;
    display: inline-block;
    padding: 50px 0px;
}
.tblExam
{
    width: 100%;
    color: #000;
    border-color: #263d59;
}
.colorwhite
{
    color: #fff;
}
.tblExam th
{
    padding: 10px;
    text-align: center;
    background: #263d59;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.tblExam td
{
    font-weight: normal;
    padding: 10px;
    text-align: center;
}
.Exam_P
{
    text-align: center;
    margin: 10px;
    font-size: 15px;
}
.Exam_P a
{
    padding: 5px;
    background-color: #263d59;
    color: #fff;
    border: 2px solid #263d59;
}
.Exam_P a:hover
{
    color: #263d59;
    background-color: #fff;
}
.Footer_div
{
    width: 100%;
    display: inline-block;
    padding: 0px 0px;
    position: relative;
}
.removePadding
{
    padding: 0px;
}
.plr
{
    padding-left: 15px;
    padding-right: 15px;
}
.ContactInfo
{
    right: 0px;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 50%;
    display: inline-block;
    padding: 10px;
    position: absolute;
    background: linear-gradient(90deg, transparent 5%, #fff 20%);
}
.border_botom_left
{
    width: 100px;
    height: 5px;
    background-color: Orange;
}
.ContactInfo_desc
{
    width: 100%;
    display: inline-block;
    padding: 20px;
}
.ContactInfo_desc p
{
    font-size: 18px;
}
.ContactInfo_desc p i
{
    font-size: 20px;
    margin-right: 20px;
    background-color: #263d59;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
}
.Socail_Links
{
    width: 100%;
    display: inline-block;
    padding: 10px;
}
.Socail_Links a
{
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 18px;
    padding: 15px;
    text-align: center;
    margin-left: 10px;
}
.Socail_Links a.facebook
{
    background-color: #263d59;
    color: #fff;
}
.Socail_Links a.twitter
{
    background-color: #46b3dd;
    color: #fff;
}
.Socail_Links a.youtube
{
    background-color: red;
    color: #fff;
}
.Socail_Links a.insta
{
    background-color: #931b1b;
    color: #fff;
}
.copyright
{
    width: 100%;
    padding: 10px;
    display: inline-block;
    background: #263d59;
    color: #fff;
}
@media only screen and (max-width: 600px)
{
    .ContactInfo_desc
    {
        padding: 20px 0px;
    }
    .ContactInfo
    {
        right: 0px;
        top: 0px;
        bottom: 0px;
        height: 100%;
        width: 100%;
        display: inline-block;
        padding: 10px 0px;
        position: static;
        background: linear-gradient(90deg, transparent 5%, #fff 20%);
    }
    .ContactInfo_desc p
    {
        font-size: 15px;
    }
    .ContactInfo_desc p i
    {
        font-size: 15px;
        margin-right: 10px;
        background-color: #263d59;
        color: #fff;
        width: 40px;
        height: 40px;
        text-align: center;
        padding: 10px;
        border-radius: 50%;
    }
    .Layer1 .SignUp, .Layer1 .SignIn
    {
        padding: 2px 30px;
    }
}



.panel-heading
{
    font-size: 20px;
}
.Div_syllabus
{
    display: inline-block;
    width: 100%;
}
.Div_Prize
{
    display: inline-block;
    width: 100%;
    padding: 50px 0px;
    background-color: #fff;
}
.tblPrize
{
    width: 100%;
    border-color: #263d59;
}
.tblPrize th, .tblPrize td
{
    text-align: center;
    padding: 10px;
}
.tblPrize th
{
    background-color: #7e007b;
    color: #FFF;
}
.border_botom_center
{
    width: 100px;
    height: 5px;
    margin: 0px auto 20px;
    background-color: Orange;
}
/*--------------------------*/

.ModelPop
{
    position: fixed;
    z-index: 999;
    background: rgba(0, 0, 0, 0.79);
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    display: block;
    overflow: hidden;
    overflow: auto;
}
.ModelPop.collapse
{
    display: none;
}


.LoginBox
{
    box-sizing: border-box;
    width: 390px;
    position: relative;
    margin: 30px auto;
    display: block;
    flex-direction: column;
    animation-fill-mode: forwards;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    border-radius: 5px;
    overflow: hidden;
}
.LoginBox > .heading
{
    padding: 10px;
    display: inline-block;
    width: 100%;
    background-color: #3F51B5;
    color: #fff;
}
.Login_Desc
{
    padding: 10px;
    display: inline-block;
    width: 100%;
    background-color: #fff;
}
.LoginBox > .Login_Desc > input
{
    width: 100%;
    display: inline-block;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #8e8f93;
    border-radius: 50px;
    outline: none;
}
.recoverypassword
{
    text-align: right;
    display: inline-block;
    padding: 5px;
    width: 100%;
}
.LoginBox > .Login_Desc > input[type="submit"]
{
    background-color: #F44336;
    color: #fff;
    font-size: 20px;
    padding: 10px;
}

#zoomOutIn.ModelPop.fade .LoginBox
{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    top: 120px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#zoomOutIn.ModelPop.fade.in .LoginBox
{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -120px, 0);
    transform: translate3d(0, -120px, 0);
    opacity: 1;
}

.errorcode
{
    color: Red;
}
.HowToFill
{
    width: 100%;
    display: inline-block;
    padding: 5px;
}
.HowToFill img
{
    width: auto;
    max-width: 100%;
    display: inline-block;
}
.HowToFill p
{
    font-size: 18px;
    color: #263d59;
    text-align: center;
}
.Offline
{
    font-family: 'Nanum Gothic';
    padding: 10px 20px;
    letter-spacing: 1px;
    text-align: center;
    background-color: #2c9c8e;
    display: inline-block;
    font-size: 18px;
    color: #fff;
    border-radius: 20px;
}


.PopDesc
{
    width: 100%;
    display: inline-block;
    padding: 10px;
    background-color: #fff;
}

.popuptable
{
    width: 100%;
    color: #000;
    border-color: #263d59;
}
.colorwhite
{
    color: #fff;
}
.popuptable th
{
    padding: 10px;
    text-align: center;
    background: #263d59;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.popuptable td
{
    font-weight: normal;
    padding: 10px;
    text-align: center;
}

#zoomOutIn.ModelPop.fade .LoginBox
{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    top: 120px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#zoomOutIn.ModelPop.fade.in .LoginBox
{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -120px, 0);
    transform: translate3d(0, -120px, 0);
    opacity: 1;
}
.Model_closebtn
{
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    color: #fff;
    z-index: 999;
    padding: 5px;
}
.Model_close
{
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    color: #fff;
    z-index: 999;
    padding: 5px;
}
.Model_close:hover
{
    color: #fff;
}
.Model_closebtn:hover
{
    color: #fff;
}
.errorcode
{
    color: Red;
}

.otherLinks
{
    width: 100%;
    display: inline-block;
}

.otherLinks a
{
    padding: 5px;
    display: inline-block;
    color: Gray;
}

.g-recaptcha
{
    display: inline-block;
}
input[type="checkbox"]:focus + label
{
    color: red;
}

.div_about
{
    display: inline-block;
    padding: 50px 0px;
    width: 100%;
    background: #fff;
}


.div_about p
{
    font-size: 16px;
    color: #263d59;
    text-align: justify;
    line-height: 25px;
}

.readmore
{
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    border: 2px solid #263d59;
    color: #263d59;
    font-size: 21px;
    text-transform: capitalize;
}


.Div_Tie
{
    padding: 50px 0px;
    width: 100%;
    display: inline-block;
    background-color: #cae1fd;
}
.Div_Tie p
{
    font-size: 16px;
    color: #263d59;
    text-align: justify;
    line-height: 25px;
}


@media only screen and (max-width: 600px)
{
    .LoginBox
    {
        width: 80%;
        margin: auto;
    }
}




.PageContent
{
    width: 100%;
    display: inline-block;
    padding: 5px;
}

.Box
{
    width: 100%;
    display: inline-block;
    padding: 5px;
    background: #fff;
    box-shadow: 1px -1px 4px #b6b2b2;
    margin-top: 20px;
    margin-bottom: 10px;
}
.Box h3
{
    padding: 10px;
    background-color: #263d59;
    margin: 0px;
    width: 100%;
    display: inline-block;
    color: #fff;
}
.Box > .tblExam
{
    border: 1px solid #f8f8f8;
    border-color: #f8f8f8;
}

.Box > .tblExam td
{
    text-align: left;
}

.div_admitcard
{
    display: inline-block;
    padding: 5px;
    width: 750px;
    margin: auto;
    top: 50px;
    background-color: #fff;
}



::-webkit-scrollbar
{
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track
{
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb
{
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
{
    background: #555;
}


 .ResultPopup
        {
          
    width: 200px;
    position: fixed;
    right: 0px;
    top: 30%;
    background-color: #fff;
    padding: 10px;
    box-shadow: -2px 3px 7px 0px #000000a1;
    z-index: 999;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 5px solid white;
        }
        .ResultPopup img
        {
            max-width: 100%;
            display: inline-block;
        }
        
@media only screen and (max-width: 600px)
{
 .ResultPopup
 {
     top   :60%;
 }
}
        .resultIcon{   
    -webkit-animation: resultIconswing 2s infinite ease-in-out;
    -moz-animation:    resultIconswing 2s infinite ease-in-out;
    -o-animation:      resultIconswing 2s infinite ease-in-out;
    -ms-transition:    resultIconswing 3s infinite ease-in-out; 
    animation:         resultIconswing 4s infinite ease-in-out;
}

@-webkit-keyframes resultIconswing{
    0%{background-color:Red;color:#fff;}
    50%{background-color:#ff9800;color:#fff;}
    100%{background-color:#263d59;color:#fff;}
}

@-moz-keyframes resultIconswing{
    0%{background-color:Red;color:#fff;}
    50%{background-color:#ff9800;color:#fff;}
    100%{background-color:#263d59;color:#fff;}
}

@-o-keyframes resultIconswing {
    0%{background-color:Red;color:#fff;}
    50%{background-color:#ff9800;color:#fff;}
    100%{background-color:#263d59;color:#fff;}
}

@-ms-keyframes resultIconswing {
    0%{background-color:Red;color:#fff;}
    50%{background-color:#ff9800;color:#fff;}
    100%{background-color:#263d59;color:#fff;}
}

@keyframes resultIconswing {
    0%{background-color:Red;color:#fff;}
    50%{background-color:#ff9800;color:#fff;}
    100%{background-color:#263d59;color:#fff;}
}