﻿@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('http://weloveiconfonts.com/api/?family=fontawesome');


body
{
    font: 15px/1 Lato, sans-serif;
    color: #777;
    background-color: #f5f5f5;
}

a
{
    cursor: pointer;
}
.trHeadL
{
    background-color: #e9ecef;
    border-radius: 5px;
    background-color: #dedede;
    font-weight: 500;
    font-size: 12px;
    margin: 0px;
}
.rbtbutton
{
    width: 100%;
    border: 1px solid silver;
}
.rbtbutton td
{
    padding: 3px;
}
.rbtbutton td > input[type="radio"]
{
}
.rbtbutton td > label
{
    margin-left: 10px;
    margin-bottom: 0px;
}
nav
{
    width: 250px;
    background: #0c1b32;
    display: inline-block;
    float: left;
}

nav header
{
    position: relative;
    padding: 15px 0 0 15px;
    font-size: 16px;
    color: #fff;
    border-bottom: 1px solid #03a9f4;
    background: #2196F3;
}
nav header > img
{
    width: auto;
    max-width: 100%;
}

nav header span
{
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    margin: 0 10px 0 0;
    vertical-align: middle;
    border: 1px solid #fff;
}

nav header span:before
{
    content: '\f007';
    font: normal 20px FontAwesome;
    top: 7px;
    left: 9px;
}

nav header a:before
{
    content: '\f011';
    font: normal 20px FontAwesome;
    top: 22px;
    right: 15px;
}
.menubar
{
    width: 100%;
    display: inline-block;
}
nav ul
{
    padding: 0px;
}
nav ul li:first-child
{
    padding: 15px;
    color: rgba(255,255,255,0.5);
    text-transform: uppercase;
    border-bottom: 1px solid #03a9f4;
}

nav ul a
{
    position: relative;
    display: block;
    padding: 15px 15px 17px 50px;
    color: #fff;
    border-bottom: 1px solid #03a9f4;
}

nav ul a:hover, nav ul a.active
{
    background: #03a9f4;
    color: #fff;
}

nav ul a:before
{
    font: normal 20px FontAwesome;
    top: 15px;
    left: 15px;
}



main
{
    display: inline-block;
    padding: 25px;
    background: #f5f5f5;
    float: left;
    width: calc(100% - 250px);
}

main h1
{
    height: 70px;
    margin: -25px -25px 25px -25px;
    padding: 0 25px;
    line-height: 66px;
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    background: #fafafa;
}

.flex-grid
{
    display: flex;
    min-height: 180px;
}

.flex-grid div
{
    flex: 1;
    margin: 0 20px 20px 0;
    border: 1px solid #ddd;
    background: #fff;
}

.flex-grid div:last-child
{
    margin-right: 0;
}

.flex-grid div h2
{
    padding: 12px 15px;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    background: #fafafa;
    margin: 0px;
}


.closebtn, .MobileHeader
{
    display: none;
}
@media only screen and (max-width: 669px)
{
    .MobileHeader
    {
        display: inline-block;
        padding: 5px;
        width: 100%;
        text-align: right;
    }
    .MobileHeader > a
    {
        color: #fff;
        display: inline-block;
        font-size: 20px;
    }

    nav, main
    {
        width: 100%;
        display: inline-block;
    }

    .closebtn
    {
        position: fixed;
        font-size: 25px;
        text-transform: uppercase;
        right: 0px;
        z-index: 999;
        height: 100%;
        width: 0px;
        top: 0px;
        display: inline-block;
        padding: 0;
        background-color: #f9f9f9;
    }

    .menubar
    {
        z-index: 999;
        display: none;
        position: fixed;
        left: 0px;
        top: 0px;
        bottom: 0px;
        height: 100%;
        background-color: #0c1b32;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px)
{
    .jumbotron
    {
        margin-top: 20px;
    }

    .body-content
    {
        padding: 0;
    }
}
.col-12-xxxl, .col-11-xxxl, .col-10-xxxl, .col-9-xxxl, .col-8-xxxl, .col-7-xxxl, .col-6-xxxl, .col-5-xxxl, .col-4-xxxl, .col-3-xxxl, .col-2-xxxl, .col-1-xxxl
{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-12
{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.dashboard-summery-one
{
    margin-bottom: 30px;
    background-color: #ffffff;
    padding: 22px 28px;
    border-radius: 4px;
    box-shadow: 0px 10px 20px 0px rgba(229, 229, 229, 0.75);
}

.col-6
{
    flex: 0 0 50%;
    max-width: 50%;
}

.item-icon
{
    position: relative;
    height: 85px;
    width: 85px;
    line-height: 85px;
    border-radius: 50%;
    text-align: center;
}

.bg-light-magenta
{
    background-color: #f3e5f5;
}

.item-content
{
    text-align: right;
}

.item-title
{
    color: #a8a8a8;
    margin-bottom: 2px;
}

.item-number
{
    font-size: 20px;
    font-weight: 500;
    color: #111111;
}

.card
{
    padding-bottom: 30px;
    border: none;
    height: 100%;
    background-color: initial;
}

.card-body
{
    padding: 15px 30px 30px;
    background-color: #ffffff;
    border-radius: 4px;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(229, 229, 229, 0.75);
    box-shadow: 0px 10px 20px 0px rgba(229, 229, 229, 0.75);
}

.heading-layout1
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: none;
    margin-bottom: 12px;
}

.dropdown-toggle
{
    color: #bcbcbc;
    font-size: 36px;
    display: inline-block;
    line-height: 1;
    padding-bottom: 15px;
    position: relative;
    right: -10px;
}

.dropdown-item
{
    font-size: 15px;
    padding: 7px 20px;
}

.fw-btn-fill
{
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 44px;
    width: 100%;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 1px;
    padding: 10px;
    cursor: pointer;
    z-index: 9;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.btn-gradient-yellow
{
    background-color: #ffae01;
}

.row.gutters-8
{
    padding-left: 11px;
    padding-right: 11px;
}
.bg-ash
{
    background-color: #f0f1f3 !important;
}
.bg-light
{
    background-color: #ffffff !important;
}
.header-menu-one
{
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
}
.nav-bar-header-one
{
    background: linear-gradient(to right, #ff9d01, #ffaa01);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 26rem;
    margin-top: -5px;
    margin-bottom: -5px;
    margin-left: -1rem;
}
.header-logo
{
    padding-left: 10px;
}
