﻿.theme-wrapper
{
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: #2b455b;
}
#content-wrapper
{
    background: #e7ebee;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    padding: 15px;
    display: inline-block;
    width: 100%;
}
#content-header
{
    background: #f3f5f6;
    border-bottom: 1px solid #dee4e8;
}

a
{
    outline: none !important;
}
.main-box
{
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px; /* overflow: hidden; */
    border-radius: 3px;
    background-clip: padding-box;
    position:relative;
}
.main-box .header
{
    padding: 5px;
    border-bottom: 1px solid #d6d6d6;
    width: 100%;
    display: inline-block;
}
.main-box h2
{
    font-size: 1.3em;
    line-height: 29px;
    margin: 0;
    padding: 0;
}
.main-box .item img
{
    width:auto;
    max-width:100%;
    display:inline-block;
    
}
.green-bg
{
    background: #97bc1e !important;
}
.purp-bg
{
    background-color: #8461bd !important;
}
.red-bg
{
    background: #e98551 !important;
}
.radio label
{
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 5px;
}




::-webkit-scrollbar
{
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track
{
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb
{
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
{
    background: #555;
}



#ajaxRadioDiv > div input[type=radio]
{
    position: absolute;
    visibility: hidden;
}

#ajaxRadioDiv > div label
{
    display: inline-block;
    position: relative;
    float: left;
    font-weight: 300;
    font-size: 1.35em;
    padding: 5px 25px;
    margin: 10px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

#ajaxRadioDiv > div :hover label
{
    color: #000;
}

#ajaxRadioDiv > div .check
{
    display: block;
    position: absolute;
    border: 5px solid #AAAAAA;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 15px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

#ajaxRadioDiv > div:hover .check
{
    border: 5px solid #000;
}

#ajaxRadioDiv > div .check::before
{
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 11px;
    width: 11px;
    top: 3px;
    left: 3px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

#ajaxRadioDiv > div input[type=radio]:checked ~ .check
{
    border: 4px solid #2b455b;
}

#ajaxRadioDiv > div input[type=radio]:checked ~ .check::before
{
    background: #2b455b;
}
#ajaxRadioDiv > div input[type=radio]:checked ~ label
{
    color: #2b455b;
}
.css-checkbox2
{
    display: inline-block;
}
.Header_classname
{
    padding-left: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    color: #fff;
    font-weight: 500;
    border-bottom: 2px solid #fff;
}

.div_section
{
    margin-bottom: 5px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 10px;
    background-clip: padding-box;
    background: #FFFFFF;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    max-height: 320px;
    overflow: auto;
}
.div_section > h6, .SubHeading
{
    text-align: center;
    font-size: 20px;
    background-color: #2b455b;
    display: inline-block;
    width: 100%;
    margin: 0px;
    color: #fff;
    padding: 5px;
    text-transform: capitalize;
}
.div_section #divsection > a
{
    display: inline-block;
    width: 100%;
    padding: 2px;
}
.div_section #divsection > a .label
{
    display: inline-block;
    padding:0px;
    width: 100%;
    font-size: 1em;
    line-height: 2;
    width: 100%;
    display: inline-block;
}
.label-primary1
{
    border: 1px solid #337ab7;
    background: #fff;
    color: #337ab7;
}
.label-default1
{
    border: 1px solid #777;
    background: #fff;
    color: #777;
}
.slimScrollDiv
{
    position: relative;
    overflow: auto;
    width: 100%;
    height: auto;
}

.conversation-inner1
{
    margin: 0px 0px !important;
    height: auto;
}
.infographic-box1 i
{
    color: #fff;
    border: none;
}
.infographic-box1 i
{
    background-clip: padding-box;
    border-radius: 50%;
    color: #fff;
    display: block;
    float: left;
    font-size: 1.3em;
    height: 30px;
    line-height: 28px;
    margin: 5px;
    text-align: center;
    width: 30px;
    border: 1px solid #bac0c2;
}
.infographic-box4
{
    display: inline-block;
    font-size: 1em;
    color: #000;
    line-height: 23px;
}
.infographic-box4 i
{
    background-clip: padding-box;
    border-radius: 50%;
    color: #fff;
    display: block;
    float: left;
    font-size: 1em;
    height: 15px;
    line-height: 12px;
    margin: 5px;
    text-align: center;
    width: 15px;
    border: 1px solid #bac0c2;
}
.main-box-header
{
    min-height: 40px;
    padding: 10px 20px;
    background-color: #fff;
}
.TimerDiv
{
    line-height: 20px;
    text-align: center;
    color: #fff;
    display: inline-block;
    width: 50%;
    float: left;
}
.TimerDiv .numbers
{
    color: #fff;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

#myCarousel .item p span
{
      height: 30px;
    padding: 5px;
    font-size: 15px;
    margin: 0 5px;
    color: #FFF;
    text-align: center;
    width: 30px;
    border-radius: 50%;
    margin-bottom: 5px;
    display: inline-block;
}
#myCarousel .carousel-control span
{
    color: rgb(255, 255, 255);
    background: rgb(51, 122, 183) none repeat scroll 0% 0%;
    font-size: 1em;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 38px;
}
@media (min-width: 768px) and (max-width: 1024px)
{
    .div_section
    {
        padding: 0px;
    }
    .div_section > h6, .SubHeading
    {
        font-size: 15px;
    }
    .div_section #divsection > a
    {
        width: auto;
    }
    .div_section #divsection
    {
        display: inline-block;
        width: 100%;
        padding: 5px;
    }
    .div_section #divsection > a .label
    {
        font-size: 0.8em;
        height: 24px;
        padding: 0px 5px;
    }
}

@media only screen and (max-width: 669px)
{
    .removepaddingMobile
    {
        padding: 0px;
    }
    .main-box-header
    {
        padding: 0px;
    }
    .div_section #divsection > a
    {
        width: auto;
    }
    #content-wrapper
    {
        padding: 0px;
    }
    .div_section > h6, .SubHeading
    {
        font-size: 15px;
    }
    #ajaxRadioDiv > div .check
    {
        height: 19px;
        width: 19px;
        left: 10px;
    }
    #ajaxRadioDiv > div label
    {
        margin: 10px auto;
        padding: 2px 25px;
        font-size: 1em;
    }
    .div_section #divsection > a .label
    {padding:.2em .6em .3em}
    #ajaxRadioDiv > div .check::before
    {
        top: 0px;
        left: 0px;
    }
    .Header_Img
    {
        text-align: center;
    }
    .Header_classname
    {
        font-size: 20px;
    }
}
